.skills {
  background: #124f88;
  position: relative;
}

.skills__icon-title {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 0 0 2.8rem 0;
}

.skills__title {
  color: #f2f2f2;
}

.skills__icon {
  width: 4rem;
  height: 4rem;
  fill: #f2f2f2;
}

.skills__tech-icon--react {
  fill: #00d1f7;
}

.skills__techs {
  padding: 0;
  margin: 10rem 0 10rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-areas:
    "html"
    "css"
    "js"
    "ts"
    "react"
    "tailwind"
    "git"
    "github"
    "psql";
  gap: 3rem;
}

@keyframes wave-effect {
  0%,
  100% {
    bottom: -5px;
    transform: rotate(-1deg);
    /* transform: rotate(0deg); */
  }
  50% {
    bottom: 5px;
    transform: rotate(1deg);
  }
}

.skills__tech {
  position: relative;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 16rem;
  /* background-color: #f2f2f2; */
  background-color: #f2f2f2;
  font-weight: 600;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.skills__tech-icon {
  width: 8rem;
  height: 8rem;
}
.skills__tech-icon--github {
  /* fill: red; */
  /* stroke: black; */
  /* height: 20rem;
  width: 20rem; */
}
.skills__tech-icon--tw {
  /* height: 6rem;
  width: 6rem; */
}

.skills__tech:nth-child(1) {
  grid-area: html;
  animation: wave-effect 2.1s infinite;
}
.skills__tech:nth-child(2) {
  grid-area: css;
  animation: wave-effect 2.2s infinite;
}
.skills__tech:nth-child(3) {
  grid-area: js;
  width: 10rem;
  align-self: center;
  justify-self: center;
  animation: wave-effect 2.1s infinite;
}
.skills__tech:nth-child(3) {
  grid-area: js;
  width: 10rem;
  align-self: center;
  justify-self: center;
  animation: wave-effect 2.1s infinite;
}
.skills__tech:nth-child(4) {
  grid-area: react;
  width: 16rem;
  animation: wave-effect 2.2s infinite;
}
.skills__tech:nth-child(5) {
  grid-area: tailwind;
  width: 16rem;
  animation: wave-effect 2.1s infinite;
}
.skills__tech:nth-child(6) {
  grid-area: github;
  animation: wave-effect 2.2s infinite;
}
.skills__tech:nth-child(7) {
  grid-area: git;
  animation: wave-effect 2.1s infinite;
}
.skills__tech:nth-child(8) {
  grid-area: ts;
  animation: wave-effect 2.1s infinite;
}

.skills__tech:nth-child(9) {
  grid-area: psql;
  animation: wave-effect 2.1s infinite;
}

.skills__wave {
  position: relative;
  bottom: -9px;
}

@media (min-width: 420px) {
  .skills__techs {
    grid-template-areas:
      "html html css css"
      "js js react react"
      "git git github github"
      "ts ts psql psql"
      ". tailwind tailwind .";
  }
}

@media (min-width: 768px) {
  /* Zig Zag pattern */
  /* .skills__techs {
    margin: 10rem 0 10rem 0;
    grid-template-areas:
      "html  js  github"
      "css  react git"
      "tailwind tailwind tailwind";
    gap: 3rem;
  } */
  .skills__techs {
    margin: 10rem 0 10rem 0;
    grid-template-areas:
      "html  css "
      "html  css"
      "js react"
      "js react"
      "git github"
      "git github"
      "tailwind ts"
      "tailwind ts"
      "psql psql"
      "psql psql";
    gap: 3rem;
  }

  /*     align-self: center;
    justify-self: center;
 */
  .skills__tech:nth-child(3) {
    width: 14rem;
  }

  .skills__tech:nth-child(2) {
    align-self: center;
    justify-self: center;
  }

  .skills__tech:nth-child(4) {
    align-self: center;
    justify-self: center;
  }
  .skills__tech:nth-child(5) {
    justify-self: center;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .skills__techs {
    width: 100%;
    padding: 0 17.6rem;
    margin: 10rem 0 0 0;
    grid-template-areas:
      "html  js  react   tailwind"
      "css   js  react   psql"
      "css   js   git    psql"
      "ts    js   git    github";
    align-items: center;
    justify-items: center;

    /* grid-template-areas:
      "html css js git github"
      " .   css . git    ."
      " .   css . git    ."; */

    /* grid-template-areas:
      "html css  js  react github  git  tailwind"
      ".    css  .   react  .      git ."; */
  }

  .skills__tech:nth-child(3) {
    width: 14rem;
    align-self: center;
    justify-self: center;
  }
  .skills__tech:nth-child(4) {
    width: 14rem;
    align-self: center;
    justify-self: center;
  }
}
